.add-settings-panel {
	z-index: 1;
	position: fixed;
	top: 32px;
	right: 0;
	padding: 15px;
	width: 350px;
	background-color: #fff;
	height: calc(100% - 64px);
}

.add-setting-panel__form {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.add-settings-panel__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-settings-panel__footer {
	padding-top: 15px;
	margin-top: auto;
}


.setting-field-config {
	overflow-y: auto;
	padding: 5px;
}

.setting-field-config__options {
	margin: 20px 0;
}

.setting-field-config__option {
	margin-bottom: 10px;
	padding: 10px;
	background-color: rgb(249, 241, 230);
}


.setting-field-config__option-title {
	font-size: 1em;
}
