.add-settings-panel {
    position: fixed;
    top: 32px;
    right: 0;
    padding: 15px;
    width: 350px;
    height: 100%;
    background-color: #ffffff;
}

.add-settings-panel__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
