.field-config {
	padding: 5px;
	margin-bottom: 15px;
}

.field-config__options {
	margin: 20px 0;
}

.field-config__option {
	margin-bottom: 10px;
	background-color: rgb(249, 241, 230);
}

.field-config__option-title {
	font-size: 1em;
}
