.navigation-panel {
	min-width: 250px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navigation-panel button {
	width: 100%;
	justify-content: space-between;
	height: 40px;
}

.navigation-panel button[aria-selected="false"] {
	color: var(--site-settings-text-color);
}

.navigation-panel__body {
	padding: 25px 20px;
}

.navigation-panel__button-label {
	display: flex;
	align-items: center;
	gap: 10px;
}
