.naviation-panel {
	min-width: 250px;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.naviation-panel button {
	width: 100%;
}

.navigation-panel__body {
	padding: 25px 20px;
}

.navigation-panel__footer {
	border-top: 1px solid #e5e5e5;
	padding: 25px;
	text-align: center;
}

.navigation-panel__footer button {
	justify-content: center;
}
