.settings-container {
	margin: 20px;
	width: 100%;
	background-color: #fff;
}

.settings-container__header {
	padding: 20px;
	border-bottom: 1px solid #e5e5e5;
}

.settings-container__body {
	padding: 20px;
	display: flex;
	flex-direction: column;
	height: var(--settings-body-container-height);
}

.settings-container__pre {
	flex-grow: 1;
	overflow: hidden;
	overflow-y: auto;
}
